#inputField {
    display: flex;
    flex-direction: row;
}

#inputField p span {
    display: block;
    padding: 5px;
}

#keyboard {
    padding-bottom: 20px;
}

.keybox {
    padding: 2px;
    display: flex;
    justify-content: center;
}

.keybox button {
    width: 35px;
    height: 38px;
}