.flock {
    margin: 10px;
    padding: 8px;
    border: 1px #aaa solid;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.flock.selected {
    color: #ff2850;
    border-color: #ff2850;
}

#playerSelect {
    margin: 10px;
}