<div class=col-8>
    <h2>Liste des joueurs</h2>
    <div class="row">
        <div class="card col-6" style="width: 18rem;" *ngFor="let player of players;">
            <div class="card-body">
                <h5 class="card-title">#{{ player.id }} {{ player.lastname | uppercase }} {{ player.firstname }}</h5>
                <p class="card-text">Position: {{ player.position }}</p>
                <p class="card-text">Âge: {{ player.age }} ans</p>
            </div>
        </div>
    </div>
</div>
