<h1>TP juvejersey</h1>
<div id="app">
    <div id="photoArea">        
        <!-- Composant C -->
        <app-juve-jersey-vignettes
            (changeMainImageIndex)="changeMainImageIndex($event)"></app-juve-jersey-vignettes>
        <div id="flockingArea" *ngIf="flockingState[0] && mainImageIndex === 2">
            <p id="nameFlocking">{{ flockingState[0].name | uppercase }}</p>
            <p id="numFlocking">{{ flockingState[0].num }}</p>
        </div>
    </div>
    <div id="settingArea">
        <h2>Juventus Home Authentic Jersey 2020/21</h2>
        <section>
            <h3>Flocking</h3>
            <!-- Composant A -->
            <app-juve-jersey-flocking 
                [flockingState]="flockingState" 
                (changeFlockingState)="changeFlockingPlayer($event)"></app-juve-jersey-flocking>
        </section>
        <section>
            <h3>Badges</h3>
            <div id="badges">
                <img src="../../assets/images/juve/badge1.jpg" alt="">
                <img src="../../assets/images/juve/badge2.png" alt="">
                <img src="../../assets/images/juve/badge3.jpg" alt="">
            </div>
            <div id="badgesSelector" >
                <input type="checkbox" (change)="changeBadges($event)"/>
                <input type="checkbox" (change)="changeBadges($event)"/>
                <input type="checkbox" (change)="changeBadges($event)"/>
            </div>
        </section>
        <section>
            <h3>Quantity</h3>
            <select (change)="changeQuantity($event)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </section>
        <section>
            <h3>Total price</h3>
            <!-- Composant B -->
            <app-juve-jersey-price></app-juve-jersey-price>
        </section>
    </div>
</div>