* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 15px;
}

#photoArea img {
    width: 500px
}

#photoArea #thumbs img {
    width: 75px
}

#photoArea, #settingsArea {
    float: left;
    padding: 4px
}

#badges img {
    width: 60px
}

#badgesSelector input {
    margin: 0 24px
}
section {
    margin: 40px 0
}


