<h1>TP juvejersey</h1>
<div id="app">
    <div id="photoArea">
        <img src="../../assets/images/juve/1.jpg" />
        <div id="thumbs">
            <img src="../../assets/images/juve/1.jpg" />
            <img src="../../assets/images/juve/2.jpg" /> 
            <img src="../../assets/images/juve/3.jpg" /> 
            <img src="../../assets/images/juve/4.jpg" /> 
        </div>
    </div>
    <div id="settingArea">
        <h2>Juventus Home Authentic Jersey 2020/21</h2>
        <section>
            <!-- Composant A -->
            <app-juve-jersey-flocking (changeFlockingState)="changeFlockingPlayer($event)"></app-juve-jersey-flocking>
        </section>
        <section>
            <h3>Badges</h3>
            <div id="badges">
                <img src="../../assets/images/juve/badge1.jpg" alt="">
                <img src="../../assets/images/juve/badge2.png" alt="">
                <img src="../../assets/images/juve/badge3.jpg" alt="">
            </div>
            <div id="badgesSelector">
                <input type="checkbox" />
                <input type="checkbox" />
                <input type="checkbox" />
            </div>
        </section>
        <section>
            <h3>Quantity</h3>
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </section>
        <section>
            <h3>Total price</h3>
        </section>
    </div>
</div>