<div class="container">

  <!-- Jour 1 -->

  <!-- <app-header></app-header> -->

  <!-- <div class=exo>
    <app-switch></app-switch>
  </div>
  <div class=exo>
    <app-carousel></app-carousel>
  </div>
  <div class=exo>
    <app-virtual-kb></app-virtual-kb>
  </div> -->

  <!-- Jour 2 -->
  
  <!-- <app-players></app-players> -->
  <!-- <p *ngFor="let f of fruits">{{ f }}</p> -->

  <!-- <app-juve-jersey></app-juve-jersey> -->

  <!-- Jour 3 -->

  <!-- <app-ajax></app-ajax> -->

  <!-- Jour 4 -->

  <!-- <app-ajax-post></app-ajax-post> -->
  <app-main></app-main>



 
</div>